#wrapper {
	width: 1024px;
	height: 768px;
	color: silver;
	float: left;
}
#hero {
  border-style: none solid none none;
  border-color: black;
  border-width: 1px;
  float: left;
  width: 86.9%;
  height: 700px;
  background-color: #3f0000;
  color: silver;
}
#sidebar {
  float: left;
  width: 10%;
  height: 680px;
  background-color: #3f1111;
  color: silver;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  font-size: 15px;
}
#header {
  border-style: solid solid solid none;
  border-color: black;
  border-width: 1px;
  width: 857px;
  float: left;
  height: 100px;
  text-align: left;
  background-color: #2a0000;
  background-position:  center center;
  background-repeat: no-repeat;
  font-size: 60px;
  line-height: 86px;
  padding-left: 15px;
}

#btnTheWeb {
  text-decoration: underline;
}


