body {
  float: left;
}

#titleSpacer {
  border-style: solid none solid solid;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  float: left;
  background-color: #2a0000;
  width: 150px;
  height: 100px;
}

#footer {
  border: 1px solid black;
  width: 1007px;
  height: 45px;
  float: left;
  background-color: #2a0000;
  color: silver;
  padding-left: 15px;
  line-height: 20px;
  padding-top: 5px;
}

#btnHome {
}

#btnReview {
  padding-top: 5px;
}

#btnTheWeb {
  padding-top: 5px;
}

#btnDesignSources {
  padding-top: 5px;
}

#btnProTips {
  padding-top: 5px;
}

#btnForum {
  padding-top: 5px;
}

#btnAboutUs {
  padding-top: 5px;
}

a:link {
  color: silver;
  text-decoration: none;
}

a:visited {
  color: silver;
  text-decoration: none;
}

a:hover {
  color: #8c8c8c;
  text-decoration: none;
}




