#wrapper {
	width: 1024px;
	height: 1080px;
	color: silver;
	float: left;
}
#hero {
  border-style: none solid none none;
  border-color: black;
  border-width: 1px;
  float: left;
  width: 872px;
  height: 1490px;
  background-color: #3f0000;
  color: silver;
}
#sidebar {
  float: left;
  width: 121px;
  height: 1470px;
  background-color: #3f1111;
  color: silver;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  font-size: 15px;
}
#header {
  border-style: solid solid solid none;
  border-color: black;
  border-width: 1px;
  width: 857px;
  float: left;
  height: 100px;
  text-align: left;
  background-color: #2a0000;
  background-position:  center center;
  background-repeat: no-repeat;
  font-size: 60px;
  line-height: 86px;
  padding-left: 15px;
}
#heroLeft {
	border-right: 1px solid black;
	height: 1500px;
	width: 519px;
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}

#heroRight {
  height: 595px;
  width: 290px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  float: left;
}

#heroLeftIntroductionTitle {
  padding-bottom: 10px;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  color: #8c8c8c;
}

#heroLeftIntroduction {
  font-family: Georgia;
  font-size: 13px;
  padding-left: 35px;
  padding-bottom: 10px;
}

#heroLeftHeader1 {
  padding-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 17px;
  padding-left: 10px;
  color: #8c8c8c;
}

#heroLeftHeader2 {
  padding-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 17px;
  padding-left: 10px;
  color: #8c8c8c;
}

#heroLeftHeader3 {
  padding-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 17px;
  padding-left: 10px;
  color: #8c8c8c;
}

#heroLeftHeader4 {
  padding-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 17px;
  padding-left: 10px;
  color: #8c8c8c;
}

#heroLeftHeader5 {
  padding-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 17px;
  padding-left: 10px;
  color: #8c8c8c;
}

#heroLeftText1 {
  font-family: Georgia;
  font-size: 13px;
  padding-left: 60px;
  padding-bottom: 5px;
}

#heroLeftText2 {
  font-family: Georgia;
  font-size: 13px;
  padding-left: 60px;
  padding-bottom: 5px;
}

#heroLeftText3 {
  font-family: Georgia;
  font-size: 13px;
  padding-left: 60px;
  padding-bottom: 5px;
}

#heroLeftText4 {
	font-family: Georgia;
	font-size: 13px;
	padding-left: 60px;
	padding-bottom: 5px;
	height: auto;
}

#heroLeftText5 {
  font-family: Georgia;
  font-size: 13px;
  padding-left: 60px;
  padding-bottom: 5px;
}

#heroLeftSummaryTitle {
  padding-bottom: 10px;
  font-family: Verdana;
  font-size: 17px;
  font-weight: bold;
  color: #8c8c8c;
}

#heroLeftSummary {
  font-family: Georgia;
  font-size: 13px;
  padding-left: 35px;
  padding-bottom: 10px;
}

#question1 {
  padding-bottom: 10px;
  font-weight: bold;
  color: #8c8c8c;
}

#question2 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #8c8c8c;
}

#question3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #8c8c8c;
}

#answer1 {
  font-size: 11px;
  padding-bottom: 20px;
}

#answer2 {
	font-size: 11px;
	padding-bottom: 20px;
	height: auto;
}

#answer3 {
  font-size: 11px;
}

#lineL1 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#lineL2 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#lineL3 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#lineL4 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#lineL5 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#lineL6 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#lineR1 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#lineR2 {
  border-style: solid none none;
  border-color: #500000 black black;
  border-width: 1px;
  height: 1px;
}

#btnHome {
  text-decoration: underline;
}
