#wrapper {
	width: auto;
	height: 768px;
	color: silver;
	float: left;
}
#hero {
  border-style: none solid none none;
  border-color: black;
  border-width: 1px;
  float: left;
  width: 29%;
  height: 615px;
  background-color: #3f0000;
  color: silver;
  text-align: left;
  font-size: 15px;
  padding-left: 35px;
  padding-top: 20px
}
#hero2 {
  border-style: none solid none none;
  border-color: black;
  border-width: 1px;
  float: right;
  width: 48%;
  height: 615px;
  background-color: #3f0000;
  color: silver;
  text-align: left;
  font-size: 15px;
  padding-left: 36px;
  padding-top: 20px
}
#sidebar {
  float: left;
  width: 11%;
  height: 615px;
  background-color: #3f1111;
  color: silver;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  font-size: 15px;
}
#header {
  border-style: solid solid solid none;
  border-color: black;
  border-width: 1px;
  width: 83%;
  float: left;
  height: 100px;
  text-align: left;
  background-color: #2a0000;
  background-position:  center center;
  background-repeat: no-repeat;
  font-size: 60px;
  line-height: 86px;
  padding-left: 15px;
}

#btnReview {
  text-decoration: underline;
}
